/* https://colorhunt.co/palette/8e3200a64b2ad7a86effebc1 */

div a.btn{
    width: 200px;
}

td.row{
    margin: 0;
}

td.row button:first-child{
    margin-right: 10px;
}

h5.card-title{
    font-weight: 600;
}

.count-carts{
    float: right;
    width: 30px;
    text-align: center;
    background-color: #ddd;
    color: #111;
    border-radius: 5px;
}
